@model stok_uygulaması.Models.tbl_Stok

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_layout.cshtml";
}

<h2>Ürün sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adet)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye geri dön", "Index")
        </div>
    }
</div>
